@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind styles */
@layer components {
    .page-heading {
        @apply font-bold text-4xl pt-5 pb-2 text-center;
    }

    .circle-text {
        @apply font-bold text-2xl;
        font-family: "Stick No Bills", sans-serif;
        font-optical-sizing: auto;
        fill: white;
    }
}